<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<main>
    <header>
        <a class="logo" href="/">МаксПайдер.нет</a>
        <form action="/search" method="GET">
            <input autofocus class="search-input" value=""
                   placeholder="Enter a news topic" type="search" name="q">
        </form>
        <a href="https://github.com/shehamane/maxpyder" class="button
      github-button">Project on GitHub</a>
    </header>
</main>
</html>